@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-primary-small {
  font-weight: 600;
  padding:  0.5rem 0.75rem;
  background-color: orangered;
  border-radius: 0.5rem;
}

.btn-primary {
  font-weight: 600;
  padding:  0.75rem 1rem;
  background-color: orangered;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.btn-primary-large {
  font-weight: 600;
  padding:  1rem 1.25rem;
  background-color: orangered;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.nav-link {
  font-weight: 600;
}


/* Quick utils: */
.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 600;
}

.bg-[orangered] {
  transition: background-color 0.3s ease-in-out;
}

.bg-[orangered] .react-icon {
  transition: opacity 0.3s ease-in-out;
}
